# Copy this file to .env and fill in your values
# cp .env.example .env

DB_HOST=72.62.198.6
DB_PORT=5432
DB_NAME=izone_db
DB_USER=data_admin
DB_PASSWORD=qqssxx&234%23Tc

# Schema = namespace inside PostgreSQL (usually same as DB_NAME)
DB_SCHEMA=campaign_tweet

APP_ENV=development
APP_HOST=0.0.0.0
APP_PORT=8000
APP_RELOAD=true

CORS_ORIGINS=http://localhost:3000,http://127.0.0.1:3000,https://tweet.risingsuntech.in
